node_modules
.idea
.gradle
gradle/wrapper
build
*.iml
local.properties
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

Pods/
Podfile.lock
